body {background-color: #100e17;}
.uno
{background-image: url(font.png);
    border: 5px solid #ffffff;
    border-radius: 25px;
    padding: 25px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    text-align: center;
    
}


h3
{ color:#ffffff;
    text-align: center;
}